/*html {
  background: url('money.jpg') no-repeat center center fixed;
  background-size: cover;
}
*/

#banner {
  color: white;
  text-align: center;
  font-size: 40px;
  margin: 60px auto;
  background: black;
  width: 1000px;
  border-radius: 5px;
}

#container {
  background: black;
  width: 1000px;
  margin: 0 auto;
  border-radius: 5px;
}

#leftParent{
  float: left;
  margin: 0 100px auto 200px;
}

#left, #right {
  height: 50px;
  color: black;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
}

#rightParent {
  float: right;
  margin: 0 200px auto 100px;
}

#left.warning, #right.warning {
  color: red;
}  


